  {% extends 'base.html.twig' %}

  {% block title %}Hello StaticController!{% endblock %}

  {% block contenu %}

  <div class="example-wrapper">
      <h1>Site réalisé par Fabien et Maxence </h1>

          {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                      {% if app.user.utilisateur.nom is defined %}
                      <h3>Bonjour {{app.user.utilisateur.nom}}  {{app.user.utilisateur.prenom}}</h3>
                      {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                      <p>Vous êtes connecté en tant que {{ app.user.username }} (Admin)</p>
                    {% else %}
                      {% if is_granted('ROLE_USER') %}
                        <p>Vous êtes connecté en tant que {{ app.user.username }} (Utilisateur)</p> 
                      {% endif %}
                    {% endif %}

  </div>
  {% endblock %}
