{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block contenu %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
        <h1>Salut c'est Fabien et Maxence </h1>


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/symfony4-4060/public/englearny/src/Controller/StaticController.php'|file_link(0) }}">src/Controller/StaticController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/symfony4-4060/public/englearny/templates/static/index.html.twig'|file_link(0) }}">templates/static/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
